// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

$color_1: #f14444;
$color_2: #444;
$color_3: #fff;
$border_color_1: #ccc;
$border_color_2: #fff;
$border_color_3: #f14444;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
